<div class="container">
  
    <ngb-carousel *ngIf="types===2">
     
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[3]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Shared Module</p>
        </div>
      </ng-template>

  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[7]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Shared Module, Core Module, Feature Module and Lazy Loading</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[4]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Feature Module for Lazy Load (performance) and maintainable app</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[5]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular</h3>
          <p>Dependency injection</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[6]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular</h3>
          <p>Two-way binding</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[2]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
    </ngb-carousel>
    
   

  </div>