<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tien DEMO LMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Technologies
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a class="dropdown-item" href="#" routerLink="/netcoreslide">.Net Core Web API</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/angularslide">Angular</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/bootstrapslide">Bootstrap</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/sqlslide">Microsoft SQL</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="#">.Net Core API</a></li>
              <li><a class="dropdown-item" href="#">Angular</a></li>
              <li><a class="dropdown-item" href="#">DB Create Script</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
           <button class="btn btn-primary" type="submit" (click)="onLogin()">Login</button>
        </form>
      </div>
    </div>
  </nav>
</div>