<div class="container">
  <ngb-carousel *ngIf="types===1">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="techimages[3]" alt="" class="mh-100 slide-imagesize">
      </div>
      <div class="carousel-caption blackFont">
        <h3>LMS Technologies Stack</h3>
        <p>.Net Core Web API written in C#</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="techimages[4]" alt="" class="mh-100 slide-imagesize">
      </div>
      <div class="carousel-caption blackFont">
        <h3>LMS Technologies Stack</h3>
        <p>.Net RESTful API</p>
      </div>
    </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>LMS Technologies Stack</h3>
          <p>Microsoft SQL DB</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
       
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[5]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>LMS Technologies Stack</h3>
          <p>Bootstrap for CSS</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[6]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>LMS Technologies Stack</h3>
          <p>Azure Web App</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[7]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[8]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="techimages[9]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>LMS Technologies Stack</h3>
          <p>Azure SQL</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <ngb-carousel *ngIf="types===2">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[2]" alt="" class="mh-100 slide-imagesize">
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[3]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Shared Module</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[7]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Shared Module, Core Module, Feature Module and Lazy Loading</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[4]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular Structure Best Practices</h3>
          <p>Feature Module for Lazy Load (performance) and maintainable app</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[5]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular</h3>
          <p>Dependency injection</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="angImages[6]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Angular</h3>
          <p>Two-way binding</p>
        </div>
      </ng-template>
    </ngb-carousel>
    
    <ngb-carousel *ngIf="types===3">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="bootstrapImages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Bootstrap</h3>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="bootstrapImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Bootstrap</h3>
          <p>Bootstrap classes</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="bootstrapImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>Bootstrap</h3>
          <p>Bootstrap Modal Pop up</p>
        </div>
      </ng-template>
    </ngb-carousel>

  <ngb-carousel *ngIf="types===4">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>Language used C#</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>RESTful API</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[2]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>Stored Procedure and parameterized call</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[3]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>Web methods implemented</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[4]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>CORS and JASON serializer</p>
        </div>
      </ng-template>
    </ngb-carousel>
  <ngb-carousel *ngIf="types===5">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sqlImages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>Microsoft SQL</h3>
    <p></p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sqlImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>Microsoft SQL</h3>
    <p>Course schema tables</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sqlImages[2]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>Microsoft SQL</h3>
    <p>Student, Student's Test schema tables</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="sqlImages[3]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption blackFont">
          <h3>Microsoft SQL</h3>
    <p>Stored Procedures</p>
        </div>
      </ng-template>
    </ngb-carousel>

  </div>