<div class="form-group">
    <label for="StateName" class="col-form-label">State Name</label>
    <input type ="text" class ="form-control" [(ngModel)] = "StateName"
    placeholder="Enter State Name">
</div>

<div class="form-group">
    <label for="StateAbbr" class="col-form-label">State Abbr</label>
    <input type ="text" class ="form-control" [(ngModel)] = "StateAbbr"
    placeholder="Enter State Abbr">
</div>
<br> 
<br> 
<button (click) = "addState()" *ngIf= "isNew == true" class ="btn btn-primary">
    Add
</button>

<button (click) = "updateState()" *ngIf= "isNew == false" class ="btn btn-primary">
    Update
</button>