<div class="container">
  <ngb-carousel *ngIf="types===4">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="netcoreImages[3]" alt="" class="mh-100 slide-imagesize">
      </div>
      <div class="carousel-caption">
        <h3>.Net Core Web API</h3>
  <p>Web methods implemented</p>
      </div>
    </ng-template>
<ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="netcoreImages[4]" alt="" class="mh-100 slide-imagesize">
      </div>
      <div class="carousel-caption">
        <h3>.Net Core Web API</h3>
  <p>CORS and JASON serializer</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="netcoreImages[2]" alt="" class="mh-100 slide-imagesize">
      </div>
      <div class="carousel-caption">
        <h3>.Net Core Web API</h3>
  <p>Stored Procedure and parameterized call</p>
      </div>
    </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[0]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>C#</p>
        </div>
      </ng-template>
  <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="netcoreImages[1]" alt="" class="mh-100 slide-imagesize">
        </div>
        <div class="carousel-caption">
          <h3>.Net Core Web API</h3>
    <p>RESTful API</p>
        </div>
      </ng-template>
    </ngb-carousel>
  
  </div>