<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white bg-dark">
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright
        <a class="text-white" href="/">Tien Pham</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    
  </div>
  <!-- End of .container -->